html,
body {
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
/* banner */
#banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), #de4d8690),
    url(./image/banner.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-position: top right;
}
.logo-top img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: absolute;
  top: 5%;
  left: 7%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.24);
}
#banner .text {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#banner .text h1 {
  font-size: 100px;
  margin-bottom: 20px;
  color: #64113f;
  letter-spacing: 15px;
  text-shadow: 10px 20px 10px black;
  font-family: "Satisfy", cursive;
}
#banner .text h3 {
  width: 100%;
  margin: -20px 0 30px 250px;
  font-family: "Satisfy", cursive;
  position: relative;
  left: 0px;
  font-size: 25px;
  color: white;
  text-shadow: 5px 10px 5px black;
  letter-spacing: 5px;
}
.banner-btn {
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}
.banner-btn a {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 100px;
  font-weight: 400;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  border: 1px solid #64113f;
  position: relative;
  z-index: 1;
  box-shadow: 0 3px 5px black;
}
.banner-btn a:first-child {
  margin-right: 20px;
}
.banner-btn a::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 100%;
  border-radius: 5px;
  background: #64113f;
  z-index: -1;
  transition: 1s;
}
.banner-btn a:hover::after {
  width: 100%;
}
/* navbar */
#navbar {
  width: 250px;
  height: 100vh;
  background-color: pink;
  padding: 0 15px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s;
  z-index: 5;
}
#navbar > ul {
  margin-top: 80px;
}
#navbar > ul a {
  font-size: 20px;
  color: #5a1e8d;
  font-weight: 500;
}
#navbar > ul > li {
  margin: 10px 0;
}
#navbar > ul > li:hover > a {
  background: rgba(0, 0, 0, 0.5);
}
#navbar > ul > li > a {
  width: 80%;
  margin: auto;
  font-size: 22px;
  display: block;
  padding: 5px 0 5px 10px;
  transition: 0.5s;
}
#navbar > ul > li > a:hover {
  color: white;
}
#navbar ul li:nth-child(3) {
  position: relative;
}
#navbar ul li:nth-child(3) a {
  display: flex;
  align-items: center;
}
#navbar ul li:nth-child(3) a ion-icon {
  margin-right: 10px;
}
#navbar ul li:nth-child(3) li {
  margin: 5px auto;
}
#navbar ul li:nth-child(3) li a {
  padding: 10px 15px 5px 10px;
}
#navbar ul li:nth-child(3) ul {
  position: absolute;
  left: -65%;
  top: -5px;
}
#navbar ul ul {
  visibility: hidden;
}
#navbar ul li:nth-child(3):hover > ul {
  visibility: visible;
}
#navbar ul ul > li {
  margin: 5px 15px;
  background: pink;
  transition: all 0.5s;
}
#navbar ul ul > li:hover {
  background: rgba(0, 0, 0, 0.6);
}
#navbar ul ul > li:hover a {
  color: white;
}
#menu {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 6;
}
#menu img {
  width: 30px;
  height: 30px;
}
/* about */
#about {
  width: 100%;
  padding: 70px 0;
}
.title-text {
  text-align: center;
}
.title-text p {
  font-size: 20px;
  color: #de4d86;
  position: relative;
}
.title-text p::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 35px;
  top: -30px;
  transform: translateX(20px);
  background: linear-gradient(#de4d86, white);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  z-index: -1;
}
.title-text h2 {
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: 0px;
  font-weight: 400;
}
.about-box {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-item {
  flex-basis: 40%;
}
.about-item h2 {
  font-size: 25px;
  color: #64113f;
}
.about-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-text ion-icon {
  display: inline-block;
  flex: 1;
  font-size: 50px;
  color: #de4d86;
}
.about-text p {
  width: 80%;
  flex-shrink: 0;
}
.about-img {
  width: 60%;
  display: grid;
  grid-template-columns: 66.66% 33.33%;
  grid-template-rows: 200px 200px 200px;
  gap: 15px 15px;
}
.about-img .img-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-img .img-item {
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 10px 5px rgb(83, 11, 90);
  transition: transform 1s;
  cursor: pointer;
}
.about-img .img-item:hover {
  transform: scale(1.1);
}
.about-img .img1 {
  grid-area: 1/1/4/2;
}
.about-img .img2 {
  grid-area: 1/2/2/3;
}
.about-img .img3 {
  grid-area: 2/2/3/3;
}
.about-img .img4 {
  grid-area: 3/2/4/3;
}
/* service */
#service {
  width: 100%;
  padding: 70px 0;
  background: rgba(0, 0, 0, 0.1);
}
#service h3 {
  font-size: 25px;
  color: #64113f;
  letter-spacing: 3px;
}
#beauty,
#tattoo,
#nail {
  width: 90%;
  margin: 0px auto 50px;
  text-align: center;
}
.service-top {
  width: 50%;
  height: 320px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 5px rgb(34, 5, 61);
  transition: 0.5s;
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  opacity: 0;
  transition: 1s;
  background: linear-gradient(rgba(0, 0, 0, 0.3), #de4d8690);
}
.desc hr {
  width: 60%;
  background: white;
  height: 2px;
}
.desc h4 {
  letter-spacing: 3px;
  font-size: 25px;
}
.desc {
  position: absolute;
  bottom: -40%;
  opacity: 0;
  color: beige;
  transition: 1s;
}
.service-top:hover .desc {
  bottom: 25%;
  opacity: 1;
}
.service-top:hover .overlay {
  opacity: 1;
}
.service-top:hover {
  transform: scale(1.05);
}
.service-top img {
  width: 100%;
}
.service-bottom {
  margin-top: 20px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 200px;
  gap: 20px 20px;
}
.service-img {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 5px rgb(34, 5, 61);
  transition: transform 0.5s;
}
.service-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.beauty-img {
  object-position: 0 -65px;
}
.tattoo-img {
  object-position: 0px -150px;
}
.nail-img {
  object-position: 0 -50px;
}
.service-bottom .service-img:hover {
  transform: translateY(-10px);
}
/* product */
#product {
  width: 100%;
  padding: 70px 0;
}
.product-box {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 300px 300px;
  gap: 20px 20px;
}
.product-box img {
  width: 100%;
  height: 100%;
}
.pro-top {
  grid-area: 1/1/3/3;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 10px #000000;
}
.pro-title {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 20px;
}
.pro-title span {
  font-size: 25px;
  color: #5a1e8d;
  font-weight: 600;
}
.pro-img {
  height: 100%;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0 10px 15px 5px #5a1e8d;
}
.backgournd {
  background: linear-gradient(rgba(0, 0, 0, 0.2), #64113f80);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.pro-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}
.pro-item > h3 {
  top: -43px;
  left: 0;
  padding: 10px 0px;
  text-align: center;
  color: #64113f;
  font-size: 22px;
  letter-spacing: 3px;
  background: rgba(163, 163, 163, 0.7);
  z-index: 1;
}
.pro-item:hover h3 {
  opacity: 1;
  top: 0;
}
.pro-text,
.pro-item > h3 {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  transition: 1s;
  opacity: 0;
  margin: 0;
  font-weight: 500;
}
.pro-text {
  bottom: -77px;
  text-align: center;
  color: #64113f;
  font-size: 13px;
  background: rgba(163, 163, 163, 0.7);
  z-index: 0;
}
.pro-item:hover .pro-text {
  opacity: 1;
  bottom: 0;
}
.pro-text h3 {
  margin-bottom: 0;
}
.pro-text p {
  margin-top: 5px;
}
/* footer */
#footer {
  width: 100%;
  padding: 50px 0px;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
}
.footer-img {
  display: block;
  position: absolute;
  max-width: 200px;
  width: 200px;
  opacity: 0.6;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
}
.footer-row {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer-right {
  text-align: right;
}
.footer-row ion-icon {
  font-size: 25px;
  color: #64113f;
}
.footer-row p {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.footer-right p {
  justify-content: flex-end;
}
.footer-right a {
  color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}
.footer-right a ion-icon,
.footer-right p ion-icon {
  margin-left: 10px;
}
.footer-left p ion-icon {
  margin-right: 10px;
}
.social-links {
  margin: auto;
  text-align: center;
  font-size: 35px;
}
.social-links ion-icon {
  color: #de4d86;
  cursor: pointer;
  margin: 0 20px;
  transition: color 0.5s;
}
.social-links ion-icon:hover {
  color: #701cdd;
}

/* for tablet */
@media screen and (max-width: 1023px) {
  /* banner */
  #banner {
    height: 60vh;
  }
  .logo-top img {
    width: 100px;
    height: 100px;
  }
  #banner .text h1 {
    font-size: 50px;
    margin-bottom: 15px;
  }
  #banner .text h3 {
    width: 100%;
    margin: -20px 0 30px 250px;
    font-size: 20px;
  }
  .banner-btn a {
    font-size: 18px;
    padding: 5px 5px;
  }
  /* navbar */
  #navbar {
    width: 150px;
    padding: 0 17px;
  }
  #navbar > ul a {
    font-size: 15px;
    font-weight: 400;
  }
  #navbar > ul > li > a {
    width: 90%;
    margin: auto;
    font-size: 17px;
    display: block;
    padding: 5px 0 5px 10px;
    transition: 0.5s;
  }
  #navbar ul li:nth-child(3) li {
    margin: 5px -45px;
  }
  #navbar ul li:nth-child(3) li a {
    padding: 7px 15px 5px 10px;
  }
  #menu {
    width: 40px;
    height: 40px;
  }
  #menu img {
    width: 25px;
    height: 25px;
  }
  /* about */
  #about {
    padding: 40px 0;
  }
  .title-text p {
    font-size: 18px;
  }
  .title-text p::before {
    width: 35px;
    height: 25px;
    top: -23px;
    transform: translateX(15px);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .title-text h2 {
    font-size: 40px;
    letter-spacing: 3px;
  }
  .about-img {
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 170px 170px 170px;
    gap: 10px 10px;
  }
  .about-img .img1 {
    grid-area: 1/1/3/4;
  }
  .about-img .img2 {
    grid-area: 3/1/4/2;
  }
  .about-img .img4 {
    grid-area: 3/3/4/3;
  }
  .about-img .img3 {
    grid-area: 3/2/4/3;
  }
  .about-item {
    flex-basis: 50%;
  }
  .about-text p {
    padding: 0 15px 0 0;
  }
  .about-item h2 {
    font-size: 20px;
  }
  .about-text ion-icon {
    font-size: 40px;
  }
  /* service */
  #beauty,
  #tattoo,
  #nail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  #service h3 {
    font-size: 21px;
    width: 100%;
  }
  .beauty-box,
  .nail-box {
    width: 60%;
    height: 550px;
    margin-left: 0;
  }
  .service-top-img {
    height: 100%;
  }
  .service-top-img img {
    height: 100%;
  }
  .service-bottom {
    width: 37%;
    margin-top: 0;
    grid-template-columns: 100%;
    grid-template-rows: 170px 170px 170px;
  }
  #tattoo {
    flex-direction: row-reverse;
  }
  .tattoo-box {
    width: 60%;
    height: 550px;
    margin-right: 0;
  }
  .tattoo-img {
    object-position: unset;
  }
  .pro-title {
    width: 85%;
    font-size: 17px;
    margin-bottom: 30px;
  }
  .product-box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
  }
  .pro-item > h3 {
    padding: 7px 0px;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .pro-text h3 {
    margin: 0;
  }
  .pro-top {
    grid-area: 1/2/3/4;
    box-shadow: 0px 5px 15px #000000;
  }
  .product-box div:nth-child(2) {
    grid-area: 1/1/2/2;
  }
  .pro-img {
    box-shadow: 5px 5px 10px 2px #5a1e8d;
  }
  .pro-img-left {
    box-shadow: -5px 5px 10px 2px #5a1e8d;
  }
  /* footer */
  .footer-img {
    max-width: 150px;
    width: 150px;
  }
  .footer-row h2 {
    font-size: 20px;
  }
  .footer-row p {
    font-size: 15px;
  }
  .social-links ion-icon {
    margin: 0 10px;
  }
  .social-links {
    font-size: 30px;
  }
}

/* for mobiel */
@media screen and (max-width: 520px) {
  /* banner */
  #banner {
    height: 40vh;
  }
  .logo-top img {
    width: 60px;
    height: 60px;
  }
  #banner .text h1 {
    font-size: 35px;
    margin-bottom: 5px;
    letter-spacing: 5px;
  }
  #banner .text h3 {
    margin: 0;
    font-size: 17px;
  }
  .banner-btn a {
    font-size: 13px;
    padding: 3px 3px;
  }
  /* navbar */
  #navbar {
    width: 120px;
    padding: 0 7px;
  }
  #navbar > ul a {
    font-size: 14px;
    font-weight: 300;
  }
  #navbar > ul > li > a {
    font-size: 15px;
    padding: 5px 0 5px 5px;
  }
  #menu {
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
  }
  #menu img {
    width: 23px;
    height: 23px;
  }
  /* about */
  #about {
    padding: 30px 0;
  }
  .title-text p {
    font-size: 15px;
    margin-bottom: 0;
  }
  .about-item {
    width: 100%;
  }
  .about-box {
    display: block;
    width: 95%;
    text-align: center;
  }
  .about-text ion-icon {
    font-size: 30px;
  }
  .about-text {
    display: block;
    text-align: center;
  }
  .about-text p {
    width: 100%;
    text-align: center;
  }
  .about-img {
    width: 100%;
    gap: 15px 15px;
  }
  #beauty,
  #tattoo,
  #nail {
    width: 95%;
    display: block;
  }
  .beauty-box,
  .nail-box,
  .tattoo-box {
    width: 100%;
    height: 250px;
  }
  .service-bottom {
    width: 100%;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 170px;
  }
  .service-top-img img {
    object-fit: cover;
  }
  .beauty-img,
  .nail-img {
    object-position: unset;
  }
  /* product */
  #product {
    padding: 50px 0;
  }
  .pro-top {
    display: none;
  }
  .product-box {
    width: 95%;
    grid-template-columns: 1fr 1fr;
  }
  /* footer */
  .footer-img {
    top: 80px;
  }
  .footer-row {
    width: 95%;
    padding: 30px 0;
    display: block;
  }
  .footer-left,
  .footer-right {
    text-align: center;
  }
  .footer-row p {
    justify-content: center;
    font-size: 15px;
  }
  .footer-right p {
    flex-direction: row-reverse;
  }
  /* .footer-right a ion-icon, */
  .footer-right p ion-icon {
    margin: 0px 10px 0 0px;
  }
  .footer-right a ion-icon {
    margin: 0px 0px 0 0px;
  }
  .footer-right a {
    flex-direction: row-reverse;
  }
  .footer-row ion-icon {
    font-size: 20px;
  }
}
